.side-bar
  .side-bar__user-name
    .side-bar__user-name__top-items
      .top-items__name 
        masa
      .top-items__icons
        .top-items__icons--edit
          = link_to "#",class: "icon-edit" do
            = icon("far","edit")

        .top-items__icons--cog
          = link_to "#",class: "icon-cog" do
            = icon("fas","cog")
  .side-bar__group-list
    .side-bar__group-list--block
      .block-name
        techchamp
      .block-message
        まだメッセージがありません
    .side-bar__group-list--block
      .block-name
        techchamp
      .block-message
        まだメッセージがありません
    .side-bar__group-list--block
      .block-name
        techchamp
      .block-message
        まだメッセージがありません
    .side-bar__group-list--block
      .block-name
        techchamp
      .block-message
        まだメッセージがありません
    .side-bar__group-list--block
      .block-name
        techchamp
      .block-message
        まだメッセージがありません
    .side-bar__group-list--block
      .block-name
        techchamp
      .block-message
        まだメッセージがありません
    .side-bar__group-list--block
      .block-name
        techchamp
      .block-message
        まだメッセージがありません

